<!DOCTYPE html>
<html lang="pt-br">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="./start-screen.css" rel="stylesheet" />
    <link href="~/home.css" rel="stylesheet" />

    <script src="~/script.js"></script>
    <script src="~/jscolors.js"></script>

    <title>Document</title>

</head>
<body style="background-color:#353D4D;">
    <div class="row">
        <div class="column-1">

            <br /><br />
            <br /><br />
            <br /><br />

            <form action="update" id="form" method="post">
                <span class="Title">ICONE E COR</span>
                <br /><br />
                <div style="text-align:center; ">
                    <label class="label" for='selecao-arquivo' style="padding-top:5px; float: left;">Escolha o icone&emsp;</label>
                    <div class="upload-btn-wrapper">

                        <button class="btn"><img src="~/image/upload-icon.svg" class="upload"></img>Adiconar</button>
                        <input type="file" name="myfile" />
                    </div>
                </div>
                <br /><br />
                <label class="label" for="main">Escolha a cor&emsp;&emsp;</label>
                <button id="main" name="MainColor" class="jscolor {valueElement:'#000000',value:'var(--main-color)'}"
                        style="width:24px; height:24px; border-radius: 5px;"></button>
                <br /><br />
                <br /><br />

                <label class="Title" for="Title">TITULO DE EXIBIÇÃO </label>
                <br /><br />
                <input type="text" id="Title" oninput="changeTitle(this)" class="input_estiled" placeholder="Central de atendimento do cliente" name="Title" >
                <br /><br />
                <label class="Title" for="OfferQuestion">FRASE DE AJUDA</label>
                <br /><br />
                <input type="text" id="OfferQuestion" oninput="changeOffer(this)" class="input_estiled" placeholder="Como podemos te ajudar?" name="OfferQuestion">
                <br /><br />
                <br /><br />
                <label class="Title" for="main">MENU E SUBMENU</label>
                <br /><br />
                @foreach (var x in ViewBag.Menus)
                {
                    <div class="collapsible">
                        <input type="text" class="titleMenu" value="@x.Title" />
                        <input class="buttonSub" onclick="location.href='@Url.Action("submenu", "Main",new { id = x.Id })'" readonly value="+ Add submenu" />
                        <button type="button" onclick="location.href='@Url.Action("deletemenu", "Main",new { id = x.Id })'" class="deletMenu"><img src="~/image/del-icon.svg" class="deletMenu"></img></button>
                        <button type="button" class="editMenu"><img src="~/image/edit-icon.svg" class="editMenu" /></button>

                    </div>
                    <div class="content">
                        @foreach (var y in @x.Items)
                        {
                            <div class="subMenu" id="@y.Id">
                                <button type="button" onclick="location.href='@Url.Action("deletesubmenu", "Main",new { id = y.Id ,menuId=x.Id})'" class="deletSubmenu"><img src="~/image/del-icon.svg" class="deletSubmenu"></img></button>
                                <button type="button" onclick="document.getElementById(@x.Id @y.Id).focus()" class="editSubmenu"><img src="~/image/edit-icon.svg" class="editSubmenu" /></button>
                                <input id="@x.Id @y.Id" oninput="changeSubmenu(this)" class="inputsubMenu" value="@y.Text" />
                            </div>

                        }
                    </div>
                    <br />
                }
                <br />
                <div style="    text-align: -webkit-right">

                    <button type="button" class="buttonAdd" onclick="location.href='@Url.Action("faq", "Main")'">+ Add Search </button>
                    <button type="button" class="buttonAdd" onclick="location.href='@Url.Action("menu", "Main")'">+ Add Menu</button>

                </div>
                <br /><br />
                <br /><br />

                <br /><br />
            </form>
        </div>
        <div class="column-2">
            <div id="start-screen" class="start-screen">
                <div class="top-section">
                    <div class="top-icon">
                        <img src="image/fiat_icon.svg" alt="" />
                    </div>
                    <div class="greeting-phrase" id="greeting-phrase">@ViewBag.Title</div>
                    <div class="close-button">
                        <img close-start-screen="true" src="image/close_button.svg" alt="" />
                    </div>
                </div>
                <div class="start-screen-content">
                    <div class="offer-question" id="offer-question">@ViewBag.SubTitle</div>

                    @Html.Raw(ViewBag.Template)
                </div>

            </div>
        </div>

    </div>
</body>
</html>